@import "antd/dist/antd.less";

// custome antd theme for global
@primary-color: #4070ff;
@error-color: #fa5858;
@highlight-color: @error-color;
@success-color: #4ec87f;
@font-family: "Poppins", sans-serif;
@avatar-border-radius: 12px;
@border-radius-base: 32px;
@input-padding-vertical-base: 8px;
@input-padding-horizontal: 26px;
@input-bg: #f5f5f5;
@select-background: @input-bg;
@picker-bg: @input-bg;
@input-border-color: transparent;
@card-radius: 12px;
@btn-font-weight: 500;
@btn-height-lg: 46px;
@btn-font-size-lg: 14px;
@btn-padding-horizontal-lg: 24px;
@input-height-base: 42px;
@checkbox-border-radius: 5px;
@form-item-label-font-size: 16px;

// global style
.flex-center {
  display: flex;
  align-items: center;
}

// custom antd style for global
.ant-tag {
  padding: 3px 16px;
  font-weight: 500;
  border: none;
}
.ant-form-item-label > label {
  font-weight: 500;
}
